<a href="https://colab.research.google.com/github/Uliana-san/Japan/blob/master/1_1_Intro_Python_Data_types_If_condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> «Программирование на языке Python для сбора и анализа данных» <center>

**Тема 1. Основы программирование на языке Python**

- Введение в Python. Простейшие типы данных. Ввод/вывод. Условный оператор
- Нецелые числа. Строки
- Цикл for. Цикл while
- Списки и кортежи
- Многомерные списки. Функции

**Тема 2. Анализ и визуализация данных в Python**

- Введение в анализ табличных данных в Python. Пакеты pandas и numpy. Объекты Series (последовательность) и DataFrame (таблица). Чтение-запись данных в различных форматах
- Запросы к таблицам: выборка строк/столбцов по заданным критериям. Модификация элементов таблицы. Добавление строк/столбцов. Группировка и агрегирование. Объединение таблиц (различные виды merge/join)
- Работа с временными рядами. Построение сводных таблиц (pivot tables). Визуализация данных в Python с помощью библиотеки matplotlib

**Тема 3. Сбор данных в Python**

- Работа со структурированными данными: JSON и XML. Открытые API

# <center> Тема 1. Основы программирование на языке Python <center>

# 1. Введение в Python. Простейшие типы данных. Ввод/вывод. Условный оператор.

## Часть 1.  Обзор языка и запуск Python

**Python** — это **высокоуровневый интерпретируемый** язык программирования, который:
- Имеет простой и понятный синтаксис
- Обладает огромным множеством библиотек для анализа данных, машинного обучения, веб-разработки и многого другого
- Использует **отступы** (пробелы или табуляция) для определения блоков кода (вместо фигурных скобок, как, например в Java Script)

**Высокоуровневые языки программирования** — это языки, близкие к естественному (человеческому) языку и обычно более абстрактные, чем машинный код или языки среднего и низкого уровня. Они предоставляют богатые и удобные средства для работы с данными и структурами, а также для организации логики программ.

**Интерпретатор** — это программа, которая анализирует и выполняет исходный код программы построчно в реальном времени. Интерпретатор читает исходный код и сразу же выполняет соответствующие действия. Примерами интерпретируемых языков программирования являются Python, Ruby, PHP, и JavaScript.

**Компилятор** — программа, которая преобразует исходный код программы в эквивалентный машинный код (или байт-код) в процессе, называемом компиляцией. Этот машинный код затем может быть выполняем на целевой платформе, без
необходимости повторной компиляции исходного кода. Примерами компилируемых языков программирования являются C, C++, и Java.

**Интерпретируемый язык** — это язык, который использует интерпретатор для выполнения программы, обычно без предварительной компиляции.

**Компилируемый язык** — это язык, который использует компилятор для преобразования исходного кода в машинный код или байт-код, который затем может быть выполнен на целевой платформе.

> Используем **Python 3** (некоторые компании еще используют Python 2)
>
> Язык Python считается медленным, если сравнивать его с C, C++, Java
>
> Но компьютеры сейчас очень быстрые сами по себе, поэтому скорость интерпретации - не самый главный агрумент. Гораздо важнее не делать ошибки в коде
>
> Библиотеки Python написаны на C, C++
>
> Многие рейтинги использования языков программирования возглавляет Python. Далее идут С (практически наравне с Python), Java, C++, C#, Visual Basic, JavaScript

Происхождение названия Python удивительным образом не связано с рептилиями, как могло бы показаться на первый взгляд.

На самом деле, создатель языка, **Гвидо ван Россум**, назвал его в честь популярного британского комедийного телешоу **"Monty Python's Flying Circus"**.

Python — это язык программирования с открытым исходным кодом, что означает, что его исходный код доступен для просмотра, использования, модификации и распространения.

Это обеспечивает гибкость и прозрачность разработки, позволяя разработчикам по всему миру участвовать в совершенствовании языка.

### 1.1. Запуск Python
1. **В терминале** (Windows, macOS, Linux): командой `python` или `python3`
2. **Исполнение скрипта**: `python your_script.py`
3. **Через Jupyter Notebook/Google Colab**

**Jupyter Notebook** - программа-блокнот для записи, передачи и запуска кода (работает локально, в отличии от **Google Colab**)

1. Markdown - ячейки с текстом
2. Code - ячейки с кодом

In [1]:
print("Hello, World!")
print("Hello, World!")

Hello, World!
Hello, World!

### 1.2. "The Zen of Python" (Дзен Питона)

1. Красивое лучше, чем уродливое.
2. Явное лучше, чем неявное.
3. Простое лучше, чем сложное.
4. Сложное лучше, чем запутанное.
5. Плоское лучше, чем вложенное.
6. Разреженное лучше, чем плотное.
7. Читаемость имеет значение.
8. Особые случаи не настолько особые, чтобы нарушать правила.
9. При этом практичность важнее безупречности.
10. Ошибки никогда не должны замалчиваться.
11. Если реализацию сложно объяснить, это плохая идея.
12. Если реализацию легко объяснить, это, возможно, хорошая идея.

In [ ]:
import this

**Словарик айтишника или Что? Где? Куда? Часть 1**

https://habr.com/ru/companies/wrike/articles/475558/

**Словарик айтишника или Что? Где? Куда? Часть 2**

https://habr.com/ru/companies/wrike/articles/477936/

### 1.3. Полезные сочетания клавиш

<table style='margin-left: 0; font-size: 16px;  '>
<tr >   
    <th style='text-align: left;'>Сочетание    </th><th>    </th> <th style='text-align: left;'>Действие</th>
</tr>      
<tr>   
    <td style='text-align: left;'>Esc + Z    </td> <td>    </td> <td style='text-align: left;'>Восстановить ячейку, которая только что была удалена</td>
</tr>    
<tr>   
    <td style='text-align: left;'>Ctrl + Enter    </td> <td>    </td><td style='text-align: left;'>Запустить код в ячейке и оставить выделенной эту же ячейку</td>
</tr>  
<tr>   
    <td style='text-align: left;'>Shift + Enter    </td> <td>    </td><td style='text-align: left;'>Запустить код в ячейке и выделить ячейку ниже</td>
</tr>  
<tr>   
    <td style='text-align: left;'>Ctrl + P    </td> <td>    </td><td style='text-align: left;'>Вывести документ на печать (там же можно вместо выбора принтера указать "Сохранить как PDF")</td>
</tr>  
<tr>   
    <td style='text-align: left;'>Ctrl + /    </td><td>    </td> <td style='text-align: left;'>Закомментировать или раскомментировать несколько строк кода</td>
</tr>      
</table>

---
## Часть 2. Простейшие типы данных

### 2.1. Переменные

In [ ]:
# создание переменной и присвоение ей значения

a = 42

In [ ]:
a = 1 # переменная a
b = "кошка"  # переменная b

a = 2

print(a, b)

In [ ]:
# вывод переменной на экран

print(a)

In [ ]:
13 * 6 + 22 # калькулятор

In [ ]:
print(13 * 6 + 22)

In [ ]:
# создание переменной и присвоение ей значения,
# вычисленного на основании значения другой переменной
a = 12
b = a + 10

print(b)

In [ ]:
a = 35

b = 14

print(a, '+', b, '=', a+b)

К именам переменных есть ряд **необходимых требований**:

* имя может содержать **буквы**, **цифры** и символы **нижнего подчеркивания**
* имя должно начинаться с алфавитного символа или символа нижнего подчеркивания (но **не** с цифры)
* имя **не** может совпадать с каким-либо ключевым словом языка Python

In [ ]:
# примеры допустимых имен переменных

A = 1
num = 5
num_2 = 6
abc = 'alphabet'
name1 = 'Василий'
_new__name_2 = 'Иван'

In [ ]:
# как узнать ключевые слова

import keyword
print(keyword.kwlist)

In [ ]:
# плохое имя переменной, т.к. оно недостаточно информативно
a = 150

# хорошее имя, т.к. по нему сразу понятно, какая информация хранится в переменной
price_in_rub = 150

n = 'Мария' # плохое имя
name = 'Мария' # хорошее имя
username = 'Мария' # хорошее имя

Формально, каждая переменная в языке Python состоит из следующих частей:
* **имя** переменной (то имя, которое мы для нее придумываем на этапе создания)
* **тип** (тип данных, которые хранятся в этой переменной)
* **значение** (непосредственно само значение, которое было присвоено переменной)

Python — язык с **динамической типизацией**. Это значит, что вам не нужно явно объявлять тип переменных, тип определяется автоматически при присвоении значения.

Рассмотрим **основные типы данных:**

* Числа:
    * **int** — целые числа (напр., 0, 11, -1500)
    * **float** — нецелые числа или числа с плавающей точкой (напр., 0.0, 3.14, -99.999)
    * **complex** — комплексные числа (напр., 3 + 2j)
* Строки:
    * **str** — последовательность символов, заключенная в кавычки (напр., "Hello world", 'Привет')
* Логический тип:
    * **bool** — переменные этого типа могут принимать всего два значения: **True** (истина) или **False** (ложь)
* Списки:
    * **list** —  список (напр., [1, 2, 3])
    * **tuple** — кортеж (напр., (1, 2, 3))
    * **range** — диапазон
* None:
    * **None** — отдельный тип данных, имеющий единственное значение None, предназначенный для пустых (отсутствующих) значений
* Словари:
    * **dict** — тип данных, имеющий структуру словаря
* Множества:
    * **set** — тип данных, схожий по своей организации с математическим множеством
    * **frozenset** — неизменяемое множество

---
### 2.2. Числовые типы `int` и `float`

**int** (целые числа):  
Примеры: `10`, `-5`, `0`.  
Преимущества:
- В Python `int` не ограничен 32 или 64 битами, как во многих других языках. Число может быть очень большим, пока хватает памяти.

**float** (вещественные числа):  
Примеры: `3.14`, `-7.5`, `2.0`.  
Особенности:
- `float` в Python обычно 64-битный (двойная точность).  
- При выполнении сложных вычислений могут возникать некоторые неточности, связанные с представлением дробных чисел

Ниже — простые примеры арифметических операций.

In [ ]:
# ?range

In [ ]:
a = 10
b = 3

print("a =", a)
print("b =", b)
print("Сложение (a + b):", a + b)
print("Вычитание (a - b):", a - b)
print("Умножение (a * b):", a * b)
print("Деление (a / b):", a / b) # результат float
print("Целочисленное деление (a // b):", a // b)
print("Остаток от деления (a % b):", a % b)
print("Возведение в степень (a ** b):", a ** b)

Обратите внимание, что оператор `/` возвращает `float`, даже если результат кажется целым числом.

<div class="alert alert-success"  style="color: black">
    
<table style='margin-left: 0; font-size: 16px;' class="alert alert-success">
<tr >   
    <th style='text-align: left;'>Сокращенная запись</th><th>    </th> <th style='text-align: left;'>Эквивалент</th>
</tr>      
<tr>   
    <td style='text-align: left;'> <b> x += y </b>   </td> <td>    </td> <td style='text-align: left;'> x = x + y </td>
</tr>
<tr>      
<td style='text-align: left;'> <b> x -= y </b>   </td> <td>    </td> <td style='text-align: left;'> x = x - y </td>
</tr>        
<tr>   
    <td style='text-align: left;'> <b> x *= y </b>    </td> <td>    </td><td style='text-align: left;'> x = x * y </td>
</tr>  
<tr>   
    <td style='text-align: left;'> <b> x /= y </b>   </td> <td>    </td><td style='text-align: left;'> x = x / y </td>
</tr>  
<tr>   
    <td style='text-align: left;'> <b> x **= y </b>   </td> <td>    </td><td style='text-align: left;'> x = x ** y </td>
</tr>     
<tr>   
    <td style='text-align: left;'> <b> x //= y </b>   </td> <td>    </td><td style='text-align: left;'> x = x // y </td>
</tr>  
<tr>   
    <td style='text-align: left;'> <b> x %= y </b>   </td> <td>    </td><td style='text-align: left;'> x = x % y </td>
</tr>     
</table> </div>

По ходу работы программы переменная может принимать различные значения. Код обрабатывается построчно **сверху вниз**.

Если в строке выше присвоено определенное значение, то его можно использовать в строках ниже. Если значение переменной было изменено, то во всех строках ниже будет использоваться уже новое значение.

Знак **присвоения ( = )** всегда обрабатывается **справа налево**, то есть как только встречается строка, содержащая данный символ, то всегда вычисляется значение справа от знака равно и присваивается переменной, указанной слева от знака равно.

In [ ]:
n = 7

n == 7 # проверку на равенство

In [ ]:
# пример изменения значения переменной по ходу выполнения программы

a = 5 # создаем переменную a, значение которой равно 5
print(a) # печатаем значение переменной

a = 8 # изменяем значение переменной на 8
print(a) # печатаем значение переменной

a = -3 # изменяем значение переменной на -3
print(a) # печатаем значение переменной

In [ ]:
a = 100_000_000

In [ ]:
print(a)

### Преобразование типов

Самыми частыми являются следующие преобразования:<br>
**int <-> float** (целое число <-> нецелое число)<br>
**int <-> str** (целое число <-> строка)<br>
**float <-> str** (нецелое число <-> строка)

In [ ]:
number_int = 55
print(number_int)
print(type(number_int))

In [ ]:
number_float = float(number_int)
print(number_float)
print(type(number_float))

In [ ]:
number_int_2 = int(number_float)
print(number_int_2)
print(type(number_int_2))

In [ ]:
a = 55.9999999

b = int(a)

print(b)

In [ ]:
# преобразование целочисленной переменной к нецелочисленному и строковому типам

# исходная переменная типа int
number_int = 55

# создаем новую переменную типа float со значением старой переменной
number_float = float(number_int)

# создаем новую переменную типа str со значением старой переменной
number_str = str(number_int)

# выводим на печать значения переменных и их типы
print(number_int, type(number_int))
print(number_float, type(number_float))
print(number_str, type(number_str))

При преобразовании **нецелого числа к целому** дробная часть (при ее наличии) **отбрасывается**. Округления при этом не происходит!

In [ ]:
number_1 = 55.8
print(type(number_1))

In [ ]:
value_1 = int(number_1)

print(value_1)
print(type(value_1))

In [ ]:
# преобразование нецелого числа к целому

# исходные переменные с числами float
number_1 = 55.0

# получаем переменные типа int
value_1 = int(number_1)

# выводим на печать значения переменных и их типы
print(value_1, type(value_1))

Если величина имеет исходно **строковый тип**, ее **можно преобразовать к числу**. <br>
Но это возможно только в том случае, когда данное преобразование допустимо (то есть, когда строка содержит такую последовательность символов, которая в самом деле могла бы быть числом).<br>
При попытке преобразования к числу некорректных строк программа выдаст **ошибку**.

In [ ]:
'55' -> 55
'55.99' -> 55.99
'55' -> 55.0
'55.99' -> 55 (не сработает)
'hello' -> ///

In [ ]:
str_1 = '123.99'
print(str_1)
print(type(str_1))

In [ ]:
float_1 = float(str_1)
print(float_1)
print(type(float_1))

In [ ]:
str_1 = '123'
print(str_1)
print(type(str_1))

number_int = int(str_1)
print(number_int)
print(type(number_int))

In [ ]:
str_1 = '556'
print(str_1)
print(type(str_1))

number_int = int(str_1)
print(number_int)
print(type(number_int))

In [ ]:
# преобразование к целому и нецелому числам строковых переменных

# исходные строковые переменные
str_1 = '123'
str_2 = '-123.99'

# преобразуем строки к числам
number_int = int(str_1)
number_float = float(str_2)

# выводим на печать значения переменных и их типы
print(number_int, type(number_int))
print(number_float, type(number_float))

In [ ]:
# ошибка при преобразовании строки к целому числу,
# когда преобразование недопустимо
# (строка содержит число, но НЕ целое)
number_str = '123.77'
number_int = int(number_str)
print(type(number_int))

---
### 2.3. Строки `str`

Строки в Python можно объявлять в одинарных или двойных кавычках: `"Hello"` или `'Hello'`.
Переменная строкового типа, в частности, может содержать пустую строку.<br>
Также есть **тройные кавычки** для многострочных строк:

In [ ]:
a = """
Это
многострочная
строка
"""

In [ ]:
print(a)

In [ ]:
# создание переменных строкового типа

# пустые строки
empty_text_1 = ''
empty_text_2 = str()

# строки с текстом, заключенным в кавычки
text_1 = "Hello world"
text_2 = 'hello world'

print(empty_text_1, type(empty_text_1))

print(text_1, type(text_1))
print(text_2, type(text_2))

### 2.4. Булевы значения `bool`

Булевы значения могут принимать `True` или `False`. Они возникают при сравнении, логических операциях и т.д.

**Операторы сравнения**:
- `==` (равенство)
- `!=` (неравенство)
- `>`, `<`, `>=`, `<=`

**Логические операторы**:
- `and` - логическое умножение
- `or` - логическое сложение
- `not` - логическое отрицание

In [ ]:
5 == 5

In [ ]:
x = 5
y = 10

print(not(x == 4))

In [ ]:
x = 5
y = 10

print("x =", x, ", y =", y)
print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("(x < 10) and (y > 5):", (x < 10) and (y > 5))
print("not(x == 5):", not(x == 5))

**При сравнении строк идет порядок по алфавиту**.

Например, `"abc" < "b"` будет `True`, так как `'a'` идёт раньше `'b'` в алфавите.

---

<a id="part3"></a>
## Часть 3. Ввод и вывод данных

### 3.1. Вывод

Функция `print()` используется для вывода в консоль.

- Можно передать несколько аргументов: `print(a, b, c)` — они будут выведены через пробел.
- Параметры `sep` ("чем разделять") и `end` ("символ в конце") меняют формат.

In [ ]:
a = 5

b = 21

# print("Привет,", "Python!", "Python!", a, 32, 35.77, a+b)

print("Привет", "Python!", "Python!", a, 32, 35.77, a+b, sep = ", ", end = " Конец")

In [ ]:
# разные разделители для разных групп объектов

print(1, 2, 3, sep='--', end='...')
print(4, 5, 6, sep='///', end='...')
print(7, 8, 9, sep='--')

### 3.2. Экранированные последовательности

Это части текстовых строк, которые начинаются символа **' \\ '**.<br>
После символа '\\' должны следовать некоторые специальные символы.

**Список экранированных последовательностей**

**\\\\**	— символ ' \\ '<br>
**\\'**	— символ апострофа<br>
**\\"**	— символ кавычки<br>
**\\b**	— удалить 1 символ слева от курсора<br>
**\\n**	— перенос каретки вниз на новую строку<br>
**\\r**	— перенос каретки в начало строки<br>
**\\t**	— табуляция<br>

In [ ]:
print('1\t2\t3\n4\t5\t6\n7\t8\t9')

In [ ]:
# \n = перевести курсор на одну строку вниз

print('text_1\btext_2\btext_3\b')

In [ ]:
# \t = табуляция (горизонтальный отступ)

print('a\tb\tc')

### 3.2. Ввод

Функция `input()` считывает строку (ввод с клавиатуры).

In [ ]:
# считываем строку с клавиатуры
value = input()

# выводим на печать значение переменной и ее тип
print(value, type(value))

Если нужно считать число, выполняем **явное** приведение:

In [ ]:
n = int(input("Введите целое число: ")) # здесь появляется текстовая подсказка

print(type(n))

In [ ]:
f = float(input("Введите вещественное число: "))

print(f, type(f))

In [ ]:
user_input = input("Введите целое число: ")

user_num = int(user_input) # преобразовали тип данных (из строки в число)
print("Вы ввели число:", user_num)

In [ ]:
# если нужно проконтролировать, что пользователь ввел именно целое число

user_input = input("Введите целое число: ")

try:
    user_num = int(user_input) # преобразовали тип данных (из строки в число)
    print("Вы ввели число:", user_num)
    print("Это число умножим на 2:", user_num * 2)
except ValueError:
    print("ОШИБКА: вы ввели не целое число")

`input()` **возвращает строку, которую нужно корректно обрабатывать**

---
## Часть 4. Условный оператор `if…elif…else`

В программировании часто возникают ситуации, когда нужно **выполнять различные команды в зависимости от результата проверки некоторого условия**. Для этого существуют условные конструкции.

<div class="alert alert-success"  style="color: black">
    
<br>
<font color='green'><b>if </b></font> условие<b>: </b><br>    
&nbsp;&nbsp;&nbsp;&nbsp; что делать  
<br><br>
</div>

In [ ]:
it_rains = True

if it_rains == True: # проверка условия истинности
    print('Взять зонт') # действие

print('Идем гулять')

Бывают случаи, когда необходимо что-то делать как в случае истинности условия, так и в случае его ложности.

В Python в таком случае используется дополнительное ключевое слово **else**. <br>
После него описывается последовательность команд, необходимых для исполнения, когда проверяемое условие неверно.

<div class="alert alert-success"  style="color: black">
    
<br>
<font color='green'><b>if </b></font> условие<b>: </b><br>    
&nbsp;&nbsp;&nbsp;&nbsp; что делать, если условие верно  <br>
<font color='green'><b>else</b></font><b>: </b><br>    
&nbsp;&nbsp;&nbsp;&nbsp; что делать, если условие НЕверно   
<br><br>
</div>

In [ ]:
it_rains = True

if it_rains == True:
    print('Надеть сапоги')
else:
    print('Надеть сандали')


print('Идем гулять')

В программировании часто возникают ситуации, когда определенное событие имеет более двух различных исходов, в результате каждого из которых необходимо предпринимать различные действия.<br>
В таком случае все условия проверяются **последовательно**.<br>
Для реализации последовательной проверки условий в условных конструкциях существует дополнительный оператор **elif**.

<div class="alert alert-success"  style="color: black">
    
<br>
<font color='green'><b>if </b></font> условие<b>: </b><br>    
&nbsp;&nbsp;&nbsp;&nbsp; что делать<br>
<font color='green'><b>elif </b></font> следующее_условие_1<b>: </b><br>    
&nbsp;&nbsp;&nbsp;&nbsp; что делать   <br>
<font color='green'><b>elif </b></font> следующее_условие_2<b>: </b><br>    
&nbsp;&nbsp;&nbsp;&nbsp; что делать<br>
<b>... </b><br>     
<font color='green'><b>else</b></font><b>: </b><br>    
&nbsp;&nbsp;&nbsp;&nbsp; что делать       
<br><br>
</div>

In [ ]:
if условие1:
    # Выполняется блок кода
elif условие2:
    # Выполняется, если условие1 ЛОЖНО, а условие2 ИСТИННО
else:
    # Выполняется, если все предыдущие условия оказались ЛОЖНЫ

In [ ]:
temperature = int(input("Введите температуру (целое число): "))

if temperature > 25: # больше 25
    print("Жарко")
elif 10 <= temperature <= 25: # больше 10 и меньше 25 (10-25)
    print("Нормальная погода")
else:
    print("Холодно") # меньше 10

In [ ]:
month = int(input("Введите номер месяца "))

if month == 1:
    print('Январь', end = '')
elif month == 2:
    print('Февраль', end = '')
elif month == 3:
    print('Март', end = '')
elif month == 4:
    print('Апрель', end = '')
elif month == 5:
    print('Май', end = '')
elif month == 6:
    print('Июнь', end = '')
elif month == 7:
    print('Июль', end = '')
elif month == 8:
    print('Август', end = '')
elif month == 9:
    print('Сентябрь', end = '')
elif month == 10:
    print('Октябрь', end = '')
elif month == 11:
    print('Ноябрь', end = '')
elif month == 12:
    print('Декабрь', end = '')
else:
    print('Введенное число не соответствует номеру месяца')

Можно писать более сложные логические условия, используя `and`, `or`, `not` и круглые скобки для наглядности

In [ ]:
# пример проверки сложного условия

age = 34
salary = 5_000
credit_history = 'да'

if (age >= 18 and salary >= 30_000) or (age >= 20 and credit_history == "да"):
    print("Вы можете получить кредит")
else:
    print("К сожалению, вы не можете получить кредит")

In [ ]:
# пример проверки нахождения значения в конкретном диапазоне

x = -100

if 0 < x < 10:
    print('Число x попадает в диапазон (1, 10)')
else:
    print('Число x НЕ попадает в диапазон (1, 10)')

---
## Часть 5. Практические упражнения

### Задание 5.0 Среднее

Напишите программу, которая считывваем 2 числа, выводит среднее между ними

### Задание 5.1  Вариант студента

Каждому студенту необходимо определить **номер варианта** для самостоятельной работы.  
Всего существует **n вариантов** (варианты нумеруются с **1 до n**).

Номер варианта зависит от **порядкового номера студента в журнале**.

> Варианты распределяются **циклично** — после n снова идёт 1.

📘 Пример таблицы распределения номера вариантов (начало журнала)

| № по журналу | Фамилия, Имя        | № варианта |
|--------------|----------------------|------------|
| 1            | Иванов Иван          | 1          |
| 2            | Петров Пётр          | 2          |
| 3            | Сидоров Алексей      | 3          |
| 4            | Орлова Мария         | 4          |
| 5            | Ким Анастасия        | 5          |
| 6            | Васильев Дмитрий     | 6          |
| 7            | Захаров Андрей       | 1          |
| 8            | Смирнова Ольга       | 2          |
| 9            | Фёдоров Никита       | 3          |
| 10           | Павлова Елена        | 4          |

Задача: напишите программу, которая определит номер варианта студента. На вход программе подаются:
- `n` - общее количество вариантов
- `n_student` - порядковый номер студента в журнале.

### Задание 5.2. Сравнение чисел

1. Запросить у пользователя два числа (целые)
    - 1.1. Если пользователь ввел значение, из которое нельзя преобразовать в целое число, то вывести  фразу `Неверный тип данных`
2. Определить, какое из двух чисел больше, и вывести результат в формате:  
   - `Первое число больше`
   - `Второе число больше`  
   - `Оба числа равны`, если они одинаковые

### Задание 5.3. Квадратный корень

1. Попросить у пользователя ввести вещественное число `x` (типа float)
2. Если `x` положительное, посчитать и вывести квадратный корень из `x`
3. Если `x` отрицательное, вывести сообщение, что квадратный корень для отрицательных чисел не вычисляется стандартно (или вычисляется в комплексных числах, но мы этого пока не касаемся)

4. Если `x` равно нулю, вывести "Это ноль"

### Задание 5.4 Манхэттонское растояние

В машинном обучении и анализе данных вычисление расстояния между точками часто используется для оценки сходства объектов. Например, в алгоритмах кластеризации (`k-means`) необходимо определить насколько объекты близки друг к другу по своим признакам, что позволяет группировать данные или находить наиболее похожие элементы.

**Манхэттенское расстояние** (или расстояние городских кварталов) — это способ измерения расстояния между двумя точками на плоскости, при котором перемещение осуществляется только по вертикали и горизонтали (как по сетке улиц на карте города). Название происходит от района Манхэттен в Нью-Йорке, где улицы образуют прямоугольную решётку.

Для двух точек $$A(x_1, y_1)$$ и $$B(x_2, y_2)$$ манхэттенское расстояние вычисляется по формуле:

$$ d(A, B) = |x_1 - x_2| + |y_1 - y_2| $$

То есть расстояние равно сумме модулей разностей координат по каждой из осей.

![Screenshot 2025-11-05 at 15.59.37.png]()

**Задание**

Напишите программу, которая определяет манхэттенское расстояние между двумя точками на плоскости, координаты которых заданы.

- На вход программе подаётся четыре целых числа — координаты двух точек.
- Порядок ввода переменных: `x1`, `y1`, `x2`, `y2`
- Программа должна вывести одно число — манхэттенское расстояние между ними.

Подсказка: используйте функцию `abs(x)`, которая возвращает абсолютное значение числа.

### Задание 5.5 Евклидово расстояние

Евклидово расстояние — это привычное нам расстояние «по прямой» между двумя точками на плоскости. Оно вычисляется по теореме Пифагора и показывает длину кратчайшего пути, соединяющего точки.

На плоскости евклидово расстояние между двумя точками $(x_1; y_1)$ и $(x_2; y_2)$ определяется формулой:

$$ d = \sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2} $$

**Задание**

Напишите программу, определяющую евклидово расстояние между двумя точками, координаты которых заданы.

- На вход программе подаётся четыре вещественных числа — координаты двух точек.
- Порядок ввода переменных: `x1`, `y1`, `x2`, `y2`.
- Программа должна вывести одно число — евклидово расстояние между ними,