<a href="https://colab.research.google.com/github/Uliana-san/Japan/blob/master/Homework%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# задание 1
# какие из этих строк можно конкатенировать? Какие умножать? Какие вычитать? Запишите все результаты, которые у Вас получились
a = 23
b = 34.02
c = "python is cool"
d = "you are cool, too"
(23+34.02)
(c+d)
(a*b)
(a-b)
(b-a)

11.020000000000003

In [2]:
# задание 2
"""
Придумайте такую строку (на любом знакомом Вам языке),чтобы она состояла из трех других (повторы строки разрешены).
Напишите код. Если вы можете сделать это более, чем одним способом, напишите все способы"""

a = "difficult"
p = a*3
print(p)

difficultdifficultdifficult

In [3]:
a = "difficult"
p = a*2 + a
print(p)

difficultdifficultdifficult

In [4]:
a = "difficult"
print(a + a + a)

difficultdifficultdifficult

In [5]:
# задание 3
"""
Как из слова "апельсин" сделать слово "спаниель" ? 
Подсказка: вам помогут срезы и операции с индексами
"""

a = "апельсин"
print(a)
print(a[5])
print(a[2:5])
print(a[1::-1])
print(a[-1:-3:-1])
a = a[5]+a[1::-1]+a[-1:-3:-1]+a[2:5]
print(a)

апельсин
с
ель
па
ни
спаниель